.wrapper{
    display: grid;
    gap: 15px
}
@media (min-width: 1900px) {
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 15px
    }
    .itemWrapper{
        width: 300px;
    }
}
@media (max-width: 1900px) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1070px) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 750px) {
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 15px
    }
    .itemWrapper{
        /*width: 290px;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .image{
        display: flex;
        align-items: center;
    }
}
@media (min-width: 750px) {
    .itemWrapper{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 650px) {
    .itemWrapper{
        display: flex;
        flex-direction: column;
    }
}


.itemWrapper{
     gap: 15px;
     justify-content: space-between;
     padding: 15px;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 }
.itemWrapper:hover{
    box-shadow: 1px 8px 6px rgba(0, 0, 0, 0.45);
}
.innerWrapper{
    display: flex;
    justify-content: space-between;
}
.greenBorderContainer{
    border: 1px solid green;
    border-radius: 5px;
}
.descriptionContainer{
    padding: 5px;
}
.tagsContainer{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.linksContainer{
    display: flex;
    gap: 5px;
}
.gap10px{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mockup{

    width: 100%;
}
