.wrapper{
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 20px;
    z-index: 100;
}
@media (max-width: 510px) {
    .wrapper{
        flex-wrap: wrap;
    }

}

@media (min-width: 1600px) {
    .wrapper{
        padding: 40px 300px;
    }

}
@media (max-width: 1600px) {
    .wrapper{
        padding: 40px 200px;
    }

}
@media (max-width: 1400px) {
    .wrapper{
        padding: 40px 80px;
    }

}
@media (max-width: 1200px) {
    .wrapper{
        padding: 40px 40px;
    }

}
@media (max-width: 800px) {
    .wrapper{
        padding: 40px 5px;
    }

}